.pages {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: calc(1280px - 2*200px);
    min-width: 320px;
    color: white;
    margin: 0 auto;
    background-color: #000;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .pages {
        width: calc(100% - 2*100px);
    }
}

@media screen and (max-width: 930px) {
    .pages {
        width: calc(100% - 2*70px);
    }
}

@media screen and (max-width: 614px) {
    .pages {
        width: calc(100% - 2*40px);
    }
}

@media screen and (max-width: 419px) {
    .pages {
        width: calc(100% - 2*19px);
    }
}