.popup__close-button {
    background-image: url('../../../images/close__icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    top: -42px;
    right: -400px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 579px) {
    .popup__close-button {
        top: -50px;
        right: -360px;
    }
}



@media screen and (max-width: 472px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
        right: -233px
    }
}
