.profile__button {
    height: 24px;
    width: 24px;
    background-color: #000;
    border: 1px solid #fff;
    align-self: center;
    padding: 0;
    margin-top: 10px;
}

.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
}