.popup {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease;
}

.popup::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000000;
    opacity: .5;
    transition: opacity .3s ease;

}